* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    padding: 20px;
    border-bottom: 2px solid red;
    box-shadow: red 3px;

}

.hero {
    background-image: url('https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
}

h1 a {
    list-style: none;
    color: #fff;
    font-family: 'Playfair display', serif;
    text-decoration: none;

}

h1 a:hover {
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    margin-left: 400px;
    margin-bottom: 0rem;


}




.nav-enlace {

    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: color .2s ease-in-out;


}

.nav-enlace:hover {
    color: rgb(17, 77, 50);
}

main p {
    color: rgb(8, 134, 134);
    text-align: center;
    font-family: 'Poppins', sans-serif;


}

.color-rojo {
    color: rgb(179, 32, 32)
}

.fondo-rojo {
    background-color: rgb(249, 181, 181);
    padding: 30px 0px;

}

.fondo-blanco {
    padding: 30px 0px;
}

.bajada {
    color: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
    text-align: center;


}

.info-slide {
    height: auto;
    word-wrap: break-word;
    text-shadow: 2px 2px 12px #000;
}

.hero .cont-slide {
    width: 40%;
    text-align: center;

}

h2 {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 100px;
}

.titulo_galeria {
    color: black;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.galeria img {
    width: 30%;
    opacity: 0.5;
    border-radius: 20px;

}

.galeria img:hover {
    opacity: 1;
}

h3 {
    color: rgb(255, 0, 174);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;



}

.boton {
    font-size: 1, 5em;
    margin: 0px 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    border: 1px solid rgb(57, 57, 57);
    box-shadow: 2px 2px 5px rgb(47, 47, 47);
    background-color: rgb(36, 141, 94);
    color: #fff;

}

.boton:hover {
    background-color: rgb(73, 9, 133);
}

.cajas-padre {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.caja {
    background-color: bisque;
    color: black;
    border: 30px solid rgb(243, 174, 89);
    margin-top: 80px;
    margin-left: 300px;

}

.caja-dos {
    background-color: bisque;
    color: black;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(243, 174, 89);
    padding: 20px 40px 60px 100px;
    margin-left: 40px;
}

.caja-tres {
    background-color: bisque;
    color: black;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(243, 174, 89);
    padding: 20px 40px 60px 100px;
    margin-left: 40px;
}

footer {
    background-color: #5e756d;
    padding: 30px 0px;
    color: #fff;
}

footer ul{
    padding-inline-start: 0px;
    list-style-type: none;
}

footer a{
    color: #fff;
}
.redes-footer h4, 
.redes-footer h5,
.redes-footer .iconos-footer{
    margin-bottom: 10px;

}
.iconos-footer i {
    font-size: 30px;
    margin: 0px 10px;
}

.contactanos ul li i {
    font-size: 25px;
}

.contactanos ul li p {
    margin-bottom: 0px;
}

.contactanos ul li {
    margin-bottom: 10px;
    gap: 10px;
}

.img-footer .img-thumbnail{
    background-color: transparent;
    max-width: 50%;
    border: none;
    padding: 0px;
    
}