body {
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    padding: 20px;
    border-bottom: 2px solid red;
    box-shadow: red 3px;

}


h1 {
    list-style: none;
    font-family: 'Playfair display', serif;
    display: inline-flex;

}


nav {
    padding: 10px;
    justify-content: center;
}

ul {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    margin-left: 400px;


}


a {
    text-decoration-color: pink;
    color: #fff;

}

.nav-enlace {

    color: #fff;
    padding: 10px 30px;


}

.nav-enlace:hover {
    color: black;
}

main p {
    color: rgb(8, 134, 134);
    text-align: center;
    padding-left: 700px;
    width: 500px;
    font-family: 'Poppins', sans-serif;


}

.color-rojo {
    color: rgb(179, 32, 32)
}

.fondo-rojo {
    background-color: rgb(249, 181, 181);
    background-image: url();
    height: 80vh;
}

.fondo-blanco {
    background-image: url(../assets/img/fondo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bajada {
    color: blueviolet;
    font-family: 'poppins', sans-serif;
    text-align: center;
    width: 500px;
    padding-left: 220px;
}

h2 {
    padding-left: 200px;
    font-size: 100px;
}

h3,
h4 {
    color: rgb(255, 0, 174);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 150px;


}

.boton {
    font-size: 1, 5em;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    border: 1px solid rgb(57, 57, 57);
    box-shadow: 2px 2px 5px rgb(47, 47, 47);
    background-color: blueviolet;
    color: #fff;
    margin-left: 220px;

}

.boton:hover {
    background-color: rgb(73, 9, 133);
}

.caja {
    background-color: bisque;
    color: black;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(243, 174, 89);
    padding: 20px 40px 60px 100px;
    margin-top: 80px;
    margin-left: 300px;
    display: inline-block;
}

.caja-dos {
    background-color: bisque;
    color: black;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(243, 174, 89);
    padding: 20px 40px 60px 100px;
    display: inline-block;
    margin-left: 40px;
}

.caja-tres {
    background-color: bisque;
    color: black;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(243, 174, 89);
    padding: 20px 40px 60px 100px;
    display: inline-block;
    margin-left: 40px;
}

footer{
    background-color: bisque;
}