/*colores fondos*/

$color-rojo: rgb(179, 32, 32);
$color-verde: #5e756d;
$color-boton: #12a270;
$font-poppins: 'Poppins', sans-serif;
$font-logo: 'Playfair display', serif;
$fondo-claro: rgb(250, 213, 209);
$color-cards: rgb(255, 68, 47);
$color-salmon: #fa8072;
