main p {
    color: rgb(8, 134, 134);
    text-align: center;
    font-family: 'Poppins', sans-serif;


}

.color-rojo {
    color: rgb(179, 32, 32)
}

.fondo-rojo {
    background-color: rgb(249, 181, 181);
    padding: 30px 0px;

}

.fondo-blanco {
    padding: 30px 0px;
}


h3.subtitulo {
    color: $color-rojo;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;



}